/* Stylesheet */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* https://fonts.google.com/specimen/Poppins?sort=popularity */
}


/* Nav Bar */

.nav {
    height: 60px;
    background-color: rgb(235,235,235); 
    align-content: middle;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    padding: 0px;
    margin: 0px;
}

nav ul li a{
    line-height: 60px;
    font-size: 15pt;
    display: inline;
    float: right;
    text-decoration: none;
    list-style-type: none;
    padding-right: 2%;
}

nav ul li a{
    color: black;
}

#austin {
    font-size: 25pt;
    padding-left: 2%;
}
