/* Stylesheet */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* https://fonts.google.com/specimen/Poppins?sort=popularity */
}


/* Nav Bar */

.nav {
    height: 60px;
    background-color: rgb(235,235,235); 
    align-content: middle;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    padding: 0px;
    margin: 0px;
}

nav ul li a{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20pt;
    display: inline;
    float: right;
    text-decoration: none;
    list-style-type: none;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: black;
    border-style: solid;
    border-radius: 10px;
    
}

nav ul li a:hover{
    background: rgb(70,70,70);
    color: white;
    transition: 0.4s;
    
}

/* Logo name in top left corner */

#austin {
    text-decoration: none;
    color: black;
    font-size: 30pt;
    padding-left: 2%;
    border-style: none;

}
