/* Stylesheet */

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: rgb(245,245,245);
    /* https://fonts.google.com/specimen/Poppins?sort=popularity */
}

footer {
    background-color: rgb(235,235,235);
    padding: 1%;
}


/* Nav Bar */

.nav {
    height: 60px;
    background-color: rgb(235,235,235); 
    align-content: middle;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    padding: 0px;
    margin: 0px;
}

nav ul li a{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 15pt;
    display: inline;
    float: left;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: black;
    border-style: solid;
    border-radius: 10px;
    transition: 0.4s;
    
}

nav ul li a:hover{
    background: rgb(70,70,70);
    color: white;
    
    
}

.active {
    background: rgb(52, 140, 235);
    color: white;
    border-color: rgb(52, 140, 235);
}

/* Logo name in top left corner */

#austin {
    text-decoration: none;
    color: black;
    width: 65%;
    font-size: 30pt;
    padding-left: 2%;
    border-style: none;

}

.body {
    padding: 1%;   
}

/* Resume */

/* Resume Main Body */

#resume_title {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.resume_body:after {
  content: "";
  display: table;
  clear: both;
}

.resume_body {
    padding: 1%;
    background: rgb(235,235,235);
    line-height: 180%
}

/* Resume Sidebar */

.resume_column {
    width: 63%;
    padding-right: 2%;
    float: left;
    border-right: solid;
}

.resume_section {
    color: rgb(52, 140, 235);
}

.item_title {
    width: 70%;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item_date {
    font-style: italic;
    width: 30%;
    float: right;
    text-align: right;
}

.resume_item:after{
    content: "";
    display: table;
    clear: both;
}

.resume_sidebar {
    width: 32%;
    float: right;
}

.sidebar_date {
    color: rgb(52, 140, 235);
}

